{% include('navbar.twig') %}
<main>
    <div id="open-chats">
    <svg viewBox="0 0 50 50">
        <g xmlns="http://www.w3.org/2000/svg" id="surface1">
            <path style=" " d="M 0 7.5 L 0 12.5 L 50 12.5 L 50 7.5 Z M 0 22.5 L 0 27.5 L 50 27.5 L 50 22.5 Z M 0 37.5 L 0 42.5 L 50 42.5 L 50 37.5 Z "/>
        </g>
    </svg>
    </div>
    <div id="all-chats"></div>
    <div class="main-chat">
        <div id="messages"></div>
        <div class="message-input-container">
            <input type="text" id="message-input">
            <button id="send-message">Send</button>
        </div>
    </div>
</main>