{% include('navbar.twig') %}
<main>
    <a href="/chats">
        <h2>Chats</h2>
        <span>See all your conversations</span>
    </a>
    <a href="/search">
        <h2>Search</h2>
        <span>Find someone to share and learn a language</span>
    </a>
    <a href="/profile">
        <h2>My Profile</h2>
        <span>Take a look at your profile</span>
    </a>
    <a href="/logout">
        <h2>Logout</h2>
        <span>Logout from your account</span>
    </a>
</main>