<main>
    <aside class="left">
        <input type="text" placeholder="Username" id="username">
        <input type="password" placeholder="Password" id="password">
        <button id="login-btn" id="login-btn">Login</button>
    </aside>
    <aside class="right">
        <h1>Babel Fish</h1>
        <span>The Language Exchange Network</span>
        <a href="/register" class="register-btn">Register</a>
    </aside>
</main>