<header>
    <nav>
        <div class="nav-items">
            <a href="/dashboard">
                <span>Home</span>
            </a>
            <a href="/chats">
                <span>Chats</span>
            </a>
            <a href="/profile">
                <span>Profile</span>
            </a>
            <a href="/search">
                <span>Search</span>
            </a>
        </div>
        <a class="nav-img" href="/profile">
            <img id="profile-img" src="/public/img/nopicture.png" alt="Profile Image">
        </a>
    </nav>
</header>