{% include('navbar.twig') %}
<main>
    <h1>Search by Language</h1>
    <div class="wrapper">
        <select id="language-dropdown">
            <option disabled selected value=""> -- Select a Language -- </option>
        </select>
        <button id="search">Search</button>
    </div>
</main>